@{
    Layout = null;
}

<div>
    <div>
        <button id="StartGameBtn">게임 시작하기</button>
    </div>
</div>

<script>
    $("body").on("click", "#StartGameBtn", function () {
        alert("게임시작");
    });
</script>