html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*--------------------------------------------------------------------------------------------------*/

/*menu*/

.menu {
    width: 250px;
    height: 100vh;
    border: 1px solid;
    float: left;
    border: 1px solid;
}
    .menu > div{
        display:flex;
    }

    .menu > .menu-title {
        font-size: 1.5rem;
        font-weight: bold;
        height: 70px;
        padding: 8px 15px;
    }

    .menu > .menu-content {
        height: calc(100% - 120px);
        font-size: 1.1rem;
    }

        .menu > .menu-content > ul.main-menu {
            width: 100%;
            padding-left: 0;
        }

            .menu > .menu-content > ul.main-menu > li {
                list-style: none;
                padding: 5px;
                width: 100%;
                height: auto;
                cursor:pointer;
            }

                .menu > .menu-content > ul.main-menu > li.select {
                    background: #ccc;
                }

                .menu > .menu-content > ul.main-menu > li > ul.sub-menu {
                    /*display:none;*/
                    margin-top: 7px;
                }

                    .menu > .menu-content > ul.main-menu > li > ul.sub-menu > li {
                        list-style: none;
                        padding: 1px;
                        cursor: pointer;
                    }

                        .menu > .menu-content > ul.main-menu > li > ul.sub-menu > li.select {
                            background: #ccc;
                        }

    .menu > .menu-info {
        height: 50px;
        margin: 10px 15px;
    }




/* section */

.section {
    margin: 0px 0 0 250px;
    transition: all 0.3s;
    height: 100%;
}