<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e30ec71ecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrap">
        <header class="header-wrap">
            <div class="header-icon">
                아이콘
            </div>
            <div class="header-info">
                이서현
            </div>
        </header>
        <article class="contents-wrap">
            @RenderBody()
        </article>
        <footer class="footer-wrap">

        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
