<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/shop.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e30ec71ecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrap">
        <header class="header-wrap">
            <ul class="header-list">
                <li class="header-menu">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i> 상품 검색</a>
                </li>
                <li class="header-menu">
                    <a href="#">로그인</a>
                </li>
                <li class="header-menu">
                    <a href="#">회원가입</a>
                </li>
                <li class="header-menu">
                    <a href="#">주문내역</a>
                </li>
                <li class="header-menu">
                    <a href="#">마이페이지</a>
                </li>
                <li class="header-menu">
                    <a href="#">장바구니(<span class="cart">0</span>)</a>
                </li>
                <li class="header-menu">
                    <a href="#">오프라인매장</a>
                </li>
            </ul>
        </header>
        <menu class="leftmenu-wrap">
            <div class="leftmenu-title">
                <a class="leftmenu-logo">
                    <img src="https://chaakan.co.kr/jeonyul/images/layout/logo_left.png" />
                </a>
            </div>
            <div class="leftmenu-list-wrap">
                <ul class="leftmenu-list">
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title active">
                            <div class="title">
                                <img src="https://chaakan.co.kr/web/upload/banner/event2/event_title_231109.png" alt="오늘의특가" style="max-height:18px;max-width:unset">
                            </div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">베스트100</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">신상품</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">더 착한</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">부츠/워커</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    앵클부츠
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    롱부츠
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    삭스부츠
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    워커
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    첼시부츠
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">방한슈즈</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">펌프스/힐</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    3~5cm
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    5~7cm
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    7cm 이상
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">로퍼/블로퍼</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    로퍼
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    블로퍼
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    로퍼 힐
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">플랫</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">스니커즈</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    스니커즈
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    슬립온
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">슬링백/뮬</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    슬링백
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    뮬
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">부츠/워커</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    샌들
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    슬리퍼
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    샌들 힐
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">액세서리/양말</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    패드
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    깔창
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    덧신/스타킹
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    브로치
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    기타
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">세트상품</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">오프라인매장</div>
                        </a>
                    </li>
                    <li class="leftmenu-menu">
                        <div class="leftmenu-menu-icon-wrap">
                            <div class="icon">ㄴ</div>
                        </div>
                        <a href="#" class="leftmenu-menu-title">
                            <div class="title">게시판</div>
                        </a>
                        <ul class="leftmenu-submenu-list">
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    가맹문의
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    Event
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    공지
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    자주묻는질문
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    유용한정보
                                </a>
                            </li>
                            <li class="leftmenu-submenu-menu">
                                <a href="#" class="leftmenu-submenu-title">
                                    질문과 답변
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </menu>
        <article class="shop-article">
            @RenderBody()
        </article>
        <div class="shop-info-wrap">
            <div class="shop-info-menu">
                <div class="shop-info-menu-title">
                    고객지원
                </div>
                <div class="shop-info-menu-content">
                    <div class="shop-info-menu-content-info">
                        1600-8541
                    </div>
                    <div class="shop-info-menu-content-info">
                        채널톡 문의
                    </div>
                    <div class="shop-info-menu-content-info">
                        <div>
                            평일 10:00 ~ 16:00
                        </div>
                        <div>
                            점심 12:00 ~ 13:00
                        </div>
                        <div>
                            주말, 공휴일 휴무
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-info-menu">
                <div class="shop-info-menu-title">
                    반품/교환
                </div>
                <div class="shop-info-menu-content">
                    <div class="shop-info-menu-content-info">
                        경기도 김포시 대곶면 대곶남로 595 레트웍스(일산2지사 신대화) 신대화대리점
                    </div>
                    <div class="shop-info-menu-content-info">
                        CJ 외 택배 : 경기도 고양시 덕양구 화중로 98 광성프라자 704호 착한구두
                    </div>
                </div>
            </div>
            <div class="shop-info-menu">
                <div class="shop-info-menu-title">
                    게시판
                </div>
                <div class="shop-info-menu-content">
                    <div class="shop-info-menu-content-info">
                        EVENT
                    </div>
                    <div class="shop-info-menu-content-info">
                        공지
                    </div>
                    <div class="shop-info-menu-content-info">
                        자주묻는질문
                    </div>
                    <div class="shop-info-menu-content-info">
                        유용한정보
                    </div>
                </div>
            </div>
            <div class="shop-info-menu">
                <div class="shop-info-menu-title">
                    회사
                </div>
                <div class="shop-info-menu-content">
                    <div class="shop-info-menu-content-info">
                        채용
                    </div>
                    <div class="shop-info-menu-content-info">
                        브랜드 스토리
                    </div>
                    <div class="shop-info-menu-content-info">
                        가맹문의
                    </div>
                    <div class="shop-info-menu-content-info">
                        오프라인매장
                    </div>
                    <div class="shop-info-menu-content-info">
                        제휴 및 제안하기
                    </div>
                    <div class="shop-info-menu-content-info">
                        개인정보 보호정책
                    </div>
                </div>
            </div>
            <div class="shop-info-menu">
                <div class="shop-info-menu-title">
                    팔로우 하세요!
                </div>
                <div class="shop-info-menu-content">
                    <div class="shop-info-menu-content-info">
                        Instagram
                    </div>
                    <div class="shop-info-menu-content-info">
                        Facebook
                    </div>
                    <div class="shop-info-menu-content-info">
                        Youtube
                    </div>
                </div>
            </div>
        </div>
        <footer class="shop-footer-wrap">
            <div class="shop-footer-info">
                <span>
                    (주)45스페이스 대표이사 최훈식 사업자등록번호 731-87-01405
                </span>
                <span>
                    통신판매업신고 : 제 2020-서울마포-2191 호
                </span>
                <span>
                    본사 : 서울특별시 마포구 양화로 125 경남관광빌딩 5층
                </span>
                <span>
                    전화 1600-8541
                </span>
            </div>
            <div class="shop-footer-info">
                <span>
                    이메일 : management@chaakan.co.kr
                </span>
                <span>
                    개인정보관리책임자 : 최훈식 <a href="#none" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=7318701405', 'bizCommPop', 'width=750, height=950;');return false;">[사업자정보확인]</a>
                </span>
                <span>
                    <a href="https://chaakan.co.kr/member/agreement.html">이용약관</a> <a href="https://chaakan.co.kr/member/privacy.html">개인정보처리방침</a>
                </span>
            </div>
            <div class="shop-footer-info">
                <img class="nice_pay" src="https://chaakan.co.kr/web/upload/img/escrow_foot.gif" onclick="window.open('https://pg.nicepay.co.kr/issue/IssueEscrow.jsp?Mid=CG0008830m&amp;CoNo=7318701405','escrowHelp','width=500,height=380,scrollbars=auto,resizable=yes')">
            </div>
            <div class="shop-footer-info-sub">
                고객님은 안전거래를 위해 현금 등으로 결제시 PG에스크로 구매안전서비스를 이용하실 수 있습니다. [가입사실확인]
            </div>

        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
