<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/shop.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e30ec71ecf.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrap">
        <header class="header-wrap">
            <ul>
                <li>
                    <a href="#">상품 검색</a>
                </li>
                <li>
                    <a href="#">로그인</a>
                </li>
                <li>
                    <a href="#">회원가입</a>
                </li>
                <li>
                    <a href="#">주문내역</a>
                </li>
                <li>
                    <a href="#">마이페이지</a>
                </li>
                <li>
                    <a href="#">장바구니(<span>0</span>)</a>
                </li>
                <li>
                    <a href="#">오프라인매장</a>
                </li>
            </ul>
        </header>
        <menu>
            <div>
                <a>
                    <img src="https://chaakan.co.kr/jeonyul/images/layout/logo_left.png" />
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <div>
                            ※착한 반값
                        </div>
                    </li>
                    <li>
                        <div>
                            베스트100
                        </div>
                    </li>
                    <li>
                        <div>
                            신상품
                        </div>
                    </li>
                    <li>
                        <div>
                            더 착한
                        </div>
                    </li>
                    <li>
                        <div>
                            부츠/워커
                        </div>
                        <ul>
                            <li>
                                <div>
                                    앵클부츠
                                </div>
                            </li>
                            <li>
                                <div>
                                    롱부츠
                                </div>
                            </li>
                            <li>
                                <div>
                                    삭스부츠
                                </div>
                            </li>
                            <li>
                                <div>
                                    워커
                                </div>
                            </li>
                            <li>
                                <div>
                                    첼시부츠
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            방한슈즈
                        </div>
                    </li>
                    <li>
                        <div>
                            펌프스/힐
                        </div>
                        <ul>
                            <li>
                                <div>
                                    3~5cm
                                </div>
                            </li>
                            <li>
                                <div>
                                    5~7cm
                                </div>
                            </li>
                            <li>
                                <div>
                                    7cm 이상
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            로퍼/블로퍼
                        </div>
                        <ul>
                            <li>
                                <div>
                                    로퍼
                                </div>
                            </li>
                            <li>
                                <div>
                                    블로퍼
                                </div>
                            </li>
                            <li>
                                <div>
                                    로퍼 힐
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            플랫
                        </div>
                    </li>
                    <li>
                        <div>
                            스니커즈
                        </div>
                        <ul>
                            <li>
                                <div>
                                    스니커즈
                                </div>
                            </li>
                            <li>
                                <div>
                                    슬립온
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            슬링백/뮬
                        </div>
                        <ul>
                            <li>
                                <div>
                                    슬링백
                                </div>
                            </li>
                            <li>
                                <div>
                                    뮬
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            샌들/슬리퍼
                        </div>
                        <ul>
                            <li>
                                <div>
                                    샌들
                                </div>
                            </li>
                            <li>
                                <div>
                                    슬리퍼
                                </div>
                            </li>
                            <li>
                                <div>
                                    샌들 힐
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            액세서리/양말
                        </div>
                        <ul>
                            <li>
                                <div>
                                    패드
                                </div>
                            </li>
                            <li>
                                <div>
                                    깔창
                                </div>
                            </li>
                            <li>
                                <div>
                                    덧신/스타킹
                                </div>
                            </li>
                            <li>
                                <div>
                                    브로치
                                </div>
                            </li>
                            <li>
                                <div>
                                    기타
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div>
                            세트상품
                        </div>
                    </li>
                    <li>
                        <div>
                            오프라인매장
                        </div>
                    </li>
                    <li>
                        <div>
                            게시판
                        </div>
                        <ul>
                            <li>
                                <div>
                                    가맹문의
                                </div>
                            </li>
                            <li>
                                <div>
                                    Event
                                </div>
                            </li>
                            <li>
                                <div>
                                    공지
                                </div>
                            </li>
                            <li>
                                <div>
                                    자주묻는질문
                                </div>
                            </li>
                            <li>
                                <div>
                                    유용한정보
                                </div>
                            </li>
                            <li>
                                <div>
                                    질문과 답변
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </menu>
        <article class="web-article">
            @RenderBody()
        </article>
        <div class="web-info">
            고객지원

            1600-8541
            채널톡 문의
            평일 10:00 ~ 16:00
            점심 12:00 ~ 13:00
            주말, 공휴일 휴무

            반품/교환

            경기도 김포시 대곶면 대곶남로 595 레트웍스(일산2지사 신대화) 신대화대리점
            CJ 외 택배 : 경기도 고양시 덕양구 화중로 98 광성프라자 704호 착한구두

            게시판

            EVENT
            공지
            자주묻는질문
            유용한정보

            회사

            채용
            브랜드 스토리
            가맹문의
            오프라인매장
            제휴 및 제안하기
            개인정보 보호정책

            팔로우 하세요!

            Instagram
            Facebook
            Youtube
        </div>
        <footer class="web-footer">
            (주)45스페이스 대표이사 최훈식 사업자등록번호 731-87-01405 통신판매업신고 : 제 2020-서울마포-2191 호
            본사 : 서울특별시 마포구 양화로 125 경남관광빌딩 5층 전화 1600-8541
            이메일 : management@chaakan.co.kr
            개인정보관리책임자 : 최훈식 [사업자정보확인] 이용약관 개인정보처리방침
            고객님은 안전거래를 위해 현금 등으로 결제시 PG에스크로 구매안전서비스를 이용하실 수 있습니다. [가입사실확인]
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
