<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web.Core.Shop.Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.Core.Shop.Admin.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="menu">
        <div class="menu-title">
            Admin
        </div>
        <div class="menu-content">
            <ul class="main-menu">
                <li class="select">
                    <i>*</i>
                    <span>메뉴1</span>
                    <ul class="sub-menu">
                        <li class="select">
                            메뉴1
                        </li>
                        <li>
                            메뉴2
                        </li>
                        <li>
                            메뉴3
                        </li>
                    </ul>
                </li>
                <li>
                    <i>*</i>
                    <span>메뉴2</span>
                </li>
                <li>
                    <i>*</i>
                    <span>메뉴3</span>
                </li>
            </ul>
        </div>
        <div class="menu-info">
            <div>
                마이페이지
            </div>
            <div>
                Sing out
            </div>
        </div>
    </div>
    <div class="contents">
        @RenderBody()
    </div>
    <footer class="footer">
        &copy; 2022 - Web.Core.Shop.Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
